@using Lanting.IDCode.Web.Views.Shared.Components.SideBarUserArea
@model SideBarUserAreaViewModel
<div class="info-container">
    <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        @Html.Raw(Model.GetShownLoginName())
        <a href="@Url.Action("Logout", "Account", new { area= string.Empty })">@L("Logout")</a>
    </div>
</div>
<div class="user-info">
    <div class="image"></div>
</div>

